
@{
    ViewBag.Title = "ResponseServer";
}

<h2>phản hồi từ server</h2>
<p>Bạn không có quyền thực thi chức năng. Nhấn <a href="/NguoiDung/RegisterUser">Tạo tài khoản</a> hoặc <a href="/Home/Index">Trở lại trang chủ</a></p>