@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/Index.cshtml";
}

<h2>Index</h2>
<a href="/QuanLyCaNhan/ThongTinCaNhan">Thông tin cá nhân</a> |
<a href="/QuanLyCaNhan/CacBaiDang">Danh sách bài</a> 

