@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="/Scripts/jquery-1.11.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/Contents/jquery-ui.min.css" />
    <link rel="stylesheet" href="/Contents/bootstrap.min.css" />
</head>
<body>
    <a href="/QuanTri/GetAllTaiKhoan">Quản lí người dùng</a> |
    <a href="/QuanTri/GetAllChucNang">Quản lí chức năng</a> |
    <a href="/QuanTri/NhomNguoiDung">Quản lí nhóm người dùng</a>
</body>
</html>
